body {
  margin:0;
  font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  background-color:#000;
  position:relative
}
code {
  font-family:source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace
}
.tooltip {
  display:block;
  position:absolute;
  color:#b6b7b7;
  background:#18191c;
  padding:.4rem;
  border-radius:3px;
  max-width:160px;
  width:max-content;
  font-size:.9rem;
  transform:scale(0);
  transition:55ms ease-in-out transform;
  z-index:10;
  box-shadow:0 0 5px #00000059;
  -webkit-box-shadow:0 0 5px 0 rgba(0,0,0,.35)
}
.tooltip-up {
  bottom:42px
}
.tooltip-up:before {
  content:"";
  position:absolute;
  bottom:-6px;
  left:50%;
  transform:translate(-50%);
  width:0;
  height:0;
  border-left:6px solid transparent;
  border-right:6px solid transparent;
  border-top:6px solid #18191c
}
.tooltip-down {
  top:45px
}
.tooltip-down:after {
  content:"";
  position:absolute;
  top:-6px;
  left:50%;
  transform:translate(-50%);
  width:0;
  height:0;
  border-left:6px solid transparent;
  border-right:6px solid transparent;
  border-bottom:6px solid #18191c
}
a {
  color-scheme:exact
}
.atropos-inner {
  border-radius:10px
}
.atropos-card {
  display:block;
  margin:60px auto;
  width:450px
}
.atropos-shadow {
  left:60px!important;
  width:70%!important
}
.markdown {
  color:#ddd;
  font-size:.9rem;
  line-height:1.4
}
.markdown code {
  width:auto;
  height:auto;
  background:#48484869;
  padding:0 .2em;
  margin:-.2em 0;
  border-radius:4px;
  text-indent:0;
  white-space:pre-wrap;
  border:1px solid rgba(0,0,0,0)
}
.markdown blockquote {
  border-left:4px solid #3c3c3c;
  padding-left:12px;
  margin:-24px 0 0;
  padding-top:0;
  white-space:pre-wrap
}
.markdown blockquote+.markdown blockquote {
  margin-top:0
}
.markdown blockquote:first-of-type {
  margin-top:3px
}
.markdown a {
  color:#42adf5;
  text-decoration:none;
  transition:text-decoration .2s ease-in-out
}
.markdown a:hover {
  text-decoration:underline
}
.markdown .d-emoji {
  width:22px;
  height:22px;
  vertical-align:middle
}
.card {
  background:#292b2f;
  width:345px;
  max-height:100%;
  height:max-content;
  border-radius:9px;
  box-shadow:0 0 16px 3px #0003;
  -webkit-box-shadow:0px 0px 16px 3px rgba(0,0,0,.2);
  scrollbar-width:none
}
.card::-webkit-scrollbar {
  display:none
}
.card-header .banner {
  width:100%;
  height:60px;
  background:#ff8527;
  border-radius:6px 6px 0 0;
  overflow:hidden
}
.card-header .banner-img {
  width:99.97%;
  height:120px;
  background-position:center!important;
  background-size:100% auto!important;
  border-radius:6px 6px 0 0;
  overflow:hidden
}
.card-body {
  padding:15px;
  position:relative
}
.card-body .profile-header {
  gap:33px;
  position:absolute;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  width:calc(100% - 30.5px);
  top:-20px;
  align-items:flex-start
}
.card-body .profile-header a {
  position:relative
}
.card-body .profile-header a .avatar-decoration {
  position:absolute;
  width:100%;
  height:100%;
  z-index:1;
  margin-left:0;
  transform:scale(1.2)
}
.card-body .profile-header a .profile-logo {
  top:-50px;
  position:relative;
  border-radius:50%
}
.card-body .profile-header a .profile-logo img {
  display:block;
  width:85px;
  height:85px
}
.card-body .profile-header a .profile-logo:before {
  content:"See Profile";
  position:absolute;
  right:0;
  top:0;
  opacity:0;
  width:100%;
  height:100%;
  color:#eee;
  background:#0000007e;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:50%;
  font-size:.7rem;
  font-weight:600;
  text-transform:uppercase;
  transition-duration:.15s;
  z-index:1;
  -webkit-mask-image:url(#svg-mask-avatar-status-round-32);
  mask-image:url(#svg-mask-avatar-status-round-32)
}
.card-body .profile-header a .profile-logo:after {
  content:"";
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:-1;
  margin:-6px
}
.card-body .profile-header a .profile-logo:hover:before {
  opacity:1
}
.card-body .profile-header a .profile-logo .presence-state {
  position:absolute;
  bottom:2px;
  right:6px;
  width:20px;
  height:20px;
  border-radius:50%;
  box-shadow:0 0 0 5px #00000085;
  z-index:1
}
.card-body .profile-header a .profile-logo .presence-state.online {
  background:#43b581
}
.card-body .profile-header a .profile-logo .presence-state.dnd {
  background:#f04747
}
.card-body .profile-header a .profile-logo .presence-state.dnd:before {
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:8px;
  height:3px;
  background:#292b2f
}
.card-body .profile-header a .profile-logo .presence-state.idle {
  background:#faa61a
}
.card-body .profile-header a .profile-logo .presence-state.idle:before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:11px;
  height:11px;
  background:#292b2f;
  border-radius:50%
}
.card-body .profile-header a .profile-logo .presence-state.offline {
  background:#747f8d
}
.card-body .profile-header a .profile-logo .presence-state.offline:before {
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:9px;
  height:9px;
  background:#292b2f;
  border-radius:50%
}
.card-body .profile-header a .profile-logo .presence-state.streaming {
  background:#593695
}
.card-body .profile-header a .profile-logo .presence-state.invisible {
  background:#747f8d
}
.card-body .profile-header a .profile-logo .presence-state.invisible:before {
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:9px;
  height:9px;
  background:#292b2f;
  border-radius:50%
}
.card-body .profile-header a .profile-logo .presence-state.default {
  background:#747f8d
}
.card-body .profile-header a .profile-logo .presence-state.default:before {
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:9px;
  height:9px;
  background:#292b2f;
  border-radius:50%
}
.card-body .profile-header a .profile-logo .presence-state.unknown {
  background:#747f8d
}
.card-body .profile-header .badges-container {
  margin-top:35px;
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-end;
  background:#18191c;
  border-radius:7px
}
.card-body .profile-header .badges-container .badge-item img {
  height:100%
}
.card-body .profile-header .badges-container .badge-item .badge-link {
  position:relative;
  margin:3px;
  width:22px;
  height:22px;
  display:flex;
  justify-content:center;
  align-items:center
}
.card-body .profile-header .badges-container .badge-item .badge-link:hover>.tooltip {
  transform:scale(1)
}
.card-body .profile-body {
  background:#18191c;
  border-radius:7px;
  padding:13px;
  margin-top:30px
}
.card-body .profile-body .global-name {
  margin-top:-20px;
  color:#eee;
  font-weight:700;
  font-size:1.2rem;
  align-items:center
}
.card-body .profile-body .username {
  color:#eee;
  margin-top:-20px;
  font-weight:300;
  font-size:.9rem;
  align-items:center
}
.card-body .profile-body .pronouns {
  color:#eee;
  margin-bottom:13px;
  font-weight:400;
  font-size:.9rem;
  align-items:center
}
.card-body .profile-body hr {
  border:none;
  border-top:1.5px solid #9f9f9f54
}
.card-body .profile-body .category-titles {
  display:flex;
  margin-bottom:10px
}
.card-body .profile-body .category-title {
  color:#fff;
  font-weight:700;
  text-transform:uppercase;
  font-size:.8rem;
  padding:5px 10px;
  border-bottom:2px solid transparent;
  transition:.3s
}
.card-body .profile-body .category-title.ct-info {
  color:#9d9d9d;
  font-weight:500!important
}
.card-body .profile-body .category-title.active {
  color:#fff!important;
  font-weight:700!important;
  border-bottom:2px solid #ffffff
}
.card-body .profile-body .all-activities {
  max-height:253px;
  overflow:auto
}
.card-body .profile-body .card__39ec2 {
  display:flex;
  flex-direction:column;
  gap:8px;
  padding:8px;
  overflow:visible;
  position:relative;
  border:none;
  border-radius:4px
}
.card-body .profile-body .platformIcon__39ec2 {
  -webkit-mask-size:cover;
  mask-size:cover;
  background-color:#a8a8a8;
  width:15px;
  height:15px
}
.card-body .profile-body .header__39ec2 {
  display:flex;
  justify-content:space-between;
  gap:4px
}
.card-body .profile-body .headerText__39ec2 {
  display:flex;
  gap:4px;
  align-items:center;
  overflow:hidden
}
.card-body .profile-body .overflow__82b15 {
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
  position:relative
}
.card-body .profile-body .body__39ec2 {
  display:flex;
  flex-direction:column;
  gap:8px
}
.card-body .profile-body .content__39ec2 {
  flex:1 1 auto;
  display:flex;
  flex-direction:row;
  gap:8px
}
.card-body .profile-body .imagePosition_ef9ae7 {
  position:relative;
  overflow:visible;
  display:flex;
  height:-moz-max-content;
  height:max-content;
  align-items:center
}
.card-body .profile-body .imageContainer_ef9ae7 {
  display:flex;
  justify-content:center;
  border-radius:4px
}
.card-body .profile-body .imageContainer_ef9ae7 .contentImage_ef9ae7 {
  min-width:60px
}
.card-body .profile-body .contentImage_ef9ae7 {
  -o-object-fit:cover;
  object-fit:cover;
  border-radius:inherit
}
.card-body .profile-body .details__39ec2 {
  overflow:hidden;
  display:flex;
  flex-direction:column;
  align-self:center;
  gap:4px;
  width:100%
}
.card-body .profile-body .heading-sm\/semibold_cf4812 {
  font-size:14px;
  line-height:1.2857142857142858;
  font-weight:600
}
.card-body .profile-body .text-xs\/normal_cf4812 {
  font-size:12px;
  line-height:1.3333333333333333;
  font-weight:400
}
.card-body .profile-body .badges__39ec2 {
  flex-wrap:wrap;
  -moz-column-gap:8px;
  column-gap:8px;
  row-gap:0
}
.card-body .profile-body .badgeContainer__635ed {
  display:flex;
  gap:4px;
  align-items:center;
  overflow:hidden;
  flex-shrink:0;
  max-width:100%
}
.card-body .profile-body .badgeContainer__635ed svg {
  flex-shrink:0
}
.card-body .profile-body .timestamp__230d2.bold__230d2 {
  font-weight:700
}
.card-body .profile-body .badgeContainer__635ed div {
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden
}
.card-body .profile-body .text-xs\/medium_cf4812 {
  font-size:12px;
  line-height:1.3333333333333333;
  font-weight:500
}
.card-body .profile-body .tabularNumbers__4bd52 {
  font-feature-settings:"tnum";
  font-variant-numeric:tabular-nums
}
.card-body .profile-body .aspectRatio_ef9ae7 {
  aspect-ratio:1 / 1
}
.card-body .profile-body .smallImageContainer_ef9ae7 {
  position:absolute;
  bottom:-4px;
  right:-4px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:2147483647px;
  flex-shrink:0
}
.card-body .profile-body .container__8e51c {
  display:flex;
  align-items:center;
  gap:8px
}
.card-body .profile-body .bar__8e51c {
  flex:1;
  height:2px;
  border-radius:2px;
  background-color:#848080
}
.card-body .profile-body .progress__8e51c {
  height:inherit;
  border-radius:inherit;
  min-width:4px;
  background-color:#fff
}
.card-body .profile-body .connected-accounts {
  margin-top:12px
}
.card-body .profile-body .activities {
  color:#fff;
  margin-top:12px
}
.card-body .profile-body .activities .activity-icon {
  position:relative;
  width:80px;
  height:auto
}
.card-body .profile-body .activities .activity-icon .large-img {
  border-radius:.5rem
}
.card-body .profile-body .activities .activity-icon .small-img {
  position:absolute;
  bottom:0;
  right:0;
  transform:translate(6px,6px);
  width:30px;
  height:30px;
  border-radius:50%
}
.card-body .profile-body .activities .activity-info {
  font-size:.9rem;
  text-wrap:nowrap;
  overflow:overlay
}
.card-body .profile-body .activities .activity-info .spotify-title {
  color:#1ed760
}
.card-body .profile-body .activities .activity-info .spotify-link {
  color:#2b98ff;
  text-decoration:underline;
  font-weight:700
}
.card-body .profile-body .activities .activity-info .spotify-link:hover {
  color:#257dcf
}
.card-body .profile-body .activities .activity-info::-webkit-scrollbar-track {
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
  border-radius:10px;
  background-color:#f5f5f595
}
.card-body .profile-body .activities .activity-info::-webkit-scrollbar {
  width:12px;
  height:8px;
  background-color:#f5f5f55e;
  border-radius:10px
}
.card-body .profile-body .activities .activity-info::-webkit-scrollbar-thumb {
  border-radius:10px;
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
  background-color:#55555581
}
.badges-connected-accounts {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:.5rem;
  padding:.4rem;
  border-radius:.6rem
}
.badges-connected-accounts .badge-connected-account {
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:.4rem;
  border-radius:.6rem;
  background-blend-mode:multiply;
  background-color:#00000026
}
.badges-connected-accounts .badge-connected-account:hover>.tooltip {
  transform:scale(1)
}
.card-body .profile-body .basic-infos {
  margin-bottom:14px;
  margin-top:12px;
  color:#bdbebf
}
.card-body .profile-body .basic-infos p {
  color:#bdbebf;
  font-size:.9rem
}
.card-body .profile-body .basic-infos p a {
  color:#02a5e6;
  text-decoration:none
}
.card-body .profile-body .basic-infos p a:hover {
  text-decoration:underline
}
.card-body .profile-body .basic-infos p b {
  color:#ddd
}
.card-body .profile-body .roles {
  margin-bottom:14px
}
.card-body .profile-body .roles .roles-list {
  display:flex;
  flex-wrap:wrap
}
.card-body .profile-body .message input {
  background:transparent;
  outline:none;
  border:1.2px solid #4b4b4b;
  padding:13px;
  font-size:.8rem;
  width:91%;
  border-radius:4px;
  color:#eee;
  margin-top:14px
}
.nitro-card {
  display:block;
  margin:5px auto;
  position:relative;
  background-image:linear-gradient(0,var(--color2),var(--color1));
  background-blend-mode:multiply;
  background-color:#0000006c
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
  border-radius:10px;
  background-color:#c4bcbc
}
*::-webkit-scrollbar {
  width:12px;
  background-color:#f5f5f500
}
*::-webkit-scrollbar-thumb {
  border-radius:10px;
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
  background-color:#555
}
.atropos-highlight {
  display:none!important
}
.nitro-card:before {
  content:"";
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:-1;
  margin:-5px;
  border-radius:12px;
  background:linear-gradient(0,var(--color2),var(--color1))
}
.nitro-card .card-body .profile-body {
  background:#18191c91
}
.pro-guild {
  display:flex;
  align-items:center
}
.pro-guild p {
  display:flex;
  align-items:center;
  gap:.5rem;
  margin:0
}
.guild-info {
  background:#5a5c6477;
  display:flex;
  align-items:center;
  border-radius:4px;
  font-weight:500;
  padding:0 3px;
  width:auto;
  max-width:100%;
  white-space:nowrap
}
.guild-icon {
  width:14px;
  margin-right:4px
}
.nitro-card .card-body .profile-header .badges-container {
  background:#18191c77
}
.link:hover {
  text-decoration:underline
}
.referenceContainer_ab8609.biteSize_ab8609 {
  margin-top:-10px;
  margin-left:109px;
  margin-right:12px
}
.referenceContainer_ab8609 {
  position:relative;
  visibility:hidden;
  pointer-events:none
}
.outer_ab8609 {
  box-sizing:border-box;
  min-width:42px;
  max-width:181px;
  overflow:hidden;
  background:#212020;
  box-shadow:#fff;
  border-radius:16px;
  max-height:40px
}
.inner_ab8609 {
  position:relative;
  display:block;
  width:-moz-fit-content;
  width:fit-content;
  margin:0 auto;
  padding:8px 12px;
  font-size:medium;
  word-break:break-word;
  cursor:default;
  -webkit-user-select:text;
  -moz-user-select:text;
  user-select:text
}
.referenceContainer_ab8609>.outer_ab8609>.inner_ab8609>.content_ab8609 {
  max-width:155px
}
.content_ab8609 {
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
  line-clamp:2;
  overflow:hidden;
  color:#fff;
  font-size:11px!important
}
.statusText_ab8609 {
  color:#fff
}
.text-sm\/normal_cf4812 {
  line-height:1.2857142857142858;
  font-weight:400
}
.defaultColor__4bd52 {
  color:#fff
}
.container_ab8609.biteSize_ab8609 {
  left:95px;
  top:-15px
}
.theme-dark .container_ab8609 {
  --custom-status-bubble-overlay-color: 255 255 255
}
.container_ab8609 {
  position:absolute;
  width:-moz-fit-content;
  width:fit-content;
  height:-moz-fit-content;
  height:fit-content;
  z-index:2
}
.outer_ab8609:before {
  top:-5.6px;
  left:10px;
  width:14px;
  height:14px
}
.outer_ab8609:after {
  top:-15px;
  left:-3px;
  width:9px;
  height:9.5px
}
.outer_ab8609:after,
.outer_ab8609:before {
  content:"";
  position:absolute;
  box-sizing:border-box;
  box-shadow:inherit;
  background:inherit;
  border:inherit;
  border-radius:50%
}
.atropos {
  position:relative;
  display:block;
  perspective:1200px;
  transform:translateZ(0)
}
.atropos-rotate-touch,
.atropos-rotate-scroll-x,
.atropos-rotate-scroll-y {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none
}
.atropos-rotate-touch-scroll-y {
  touch-action:pan-y
}
.atropos-rotate-touch-scroll-x {
  touch-action:pan-x
}
.atropos-rotate-touch {
  touch-action:none
}
.atropos-scale,
.atropos-rotate {
  width:100%;
  height:100%;
  transform-style:preserve-3d;
  transition-property:transform;
  display:block
}
.atropos-shadow,
.atropos-highlight {
  position:absolute;
  pointer-events:none;
  transition-property:transform,opacity;
  display:block;
  opacity:0
}
.atropos-shadow {
  z-index:-1;
  background:#000;
  left:0;
  top:0;
  width:100%;
  height:100%;
  filter:blur(30px)
}
.atropos-highlight {
  left:-50%;
  top:-50%;
  width:200%;
  height:200%;
  background-image:radial-gradient(circle at 50%,rgba(255,255,255,.25),transparent 50%);
  z-index:0
}
.atropos-rotate {
  position:relative
}
.atropos-inner {
  width:100%;
  height:100%;
  position:relative;
  overflow:hidden;
  transform-style:preserve-3d;
  transform:translateZ(0);
  display:block
}
.atropos-active {
  z-index:1
}
.atropos-active .atropos-shadow {
  opacity:1!important
}
[data-atropos-offset],
::slotted([data-atropos-offset]) {
  transition-property:transform
}
[data-atropos-opacity] {
  transition-property:opacity
}
[data-atropos-offset][data-atropos-opacity],
::slotted([data-atropos-offset][data-atropos-opacity]) {
  transition-property:transform,opacity
}
.iconVolume {
  font-size:20px!important;
  color:#fff
}
#sound-slider__container {
  margin:12px;
  position:relative;
  display:flex;
  gap:10px;
  width:200px;
  height:20px;
  padding:15px 40px;
  background:#ffffff12;
  border:1px solid rgba(255,255,255,.03);
  border-radius:1in;
  align-items:center;
  justify-content:center;
  top:0;
  left:48.7%;
  transform:translate(-50%);
  overflow:hidden
}
#sound-slider {
  margin:0 10px;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  width:100%;
  border-radius:1in;
  outline:none;
  transition:.2s;
  cursor:pointer;
  background:#fff6
}
#sound-slider:hover {
  background:#fff9
}
#sound-slider::-webkit-slider-thumb {
  -webkit-appearance:none;
  width:15px;
  height:15px;
  border-radius:50%;
  background:#fff;
  cursor:pointer;
  transition:.2s
}
#sound-slider::-moz-range-thumb {
  -moz-appearance:none;
  width:15px;
  height:15px;
  border-radius:50%;
  background:#fff;
  cursor:pointer;
  transition:.2s
}
#sound-slider::-webkit-slider-thumb:hover {
  transform:scale(1.2)
}
#volume {
  color:#dcdcdc;
  text-align:right
}
.info-section {
  text-align:center;
  color:#fff
}
.text-title {
  font-size:18px;
  font-weight:600;
  margin-top:1rem;
  margin-bottom:1rem
}
@media (min-width: 768px) {
  .text-title {
    font-size:25px
  }
}
.glowing-icons a {
  position:relative;
  background:#202020;
  text-decoration:none;
  border-radius:50%;
  color:gray;
  transition:.5s;
  display:flex;
  justify-content:center;
  align-items:center;
  width:50px;
  height:50px
}
.glowing-icons i {
  font-size:1.5rem
}
.glowing-icons a:hover {
  color:#fff
}
.glowing-icons a:before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border-radius:50%;
  transition:.5s;
  transform:scale(.9);
  z-index:-1
}
.glowing-icons a:hover:before {
  transform:scale(1.1);
  box-shadow:0 0 15px #fff
}
.icon-list {
  list-style-type:none;
  display:flex;
  justify-content:center;
  gap:1rem;
  padding:0
}
.icon-list a {
  font-size:30px;
  color:#fff;
  transition:transform .3s ease
}
.icon-list a:hover {
  transform:scale(1.2)
}
.icon-list a .fa {
  color:#fff
}
.icon-list a:hover .fa {
  color:#00d4ff
}
